<%= simple_form_for ([@criterion, @criterion_detail]), :html => { :class => "form-horizontal criterion_detail" } do |f| %>

    <% if @criterion_detail.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@criterion_detail.errors.count, "error") %> prohibited this criterion_detail from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @criterion_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    الوصف
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@criterion_detail[:description]) %>
  </div>
  <div class="control-group">
    الوزن
    <div class="controls">
      <%= f.text_field :weight, :class => 'form-control' %>
    </div>
    <%= error_span(@criterion_detail[:weight]) %>
  </div>
  <div class="control-group">
    رقم المعيار
    <div class="controls">
      <%= f.text_field :criterion_id, :class => 'form-control' %>
    </div>
    <%= error_span(@criterion_detail[:criterion_id]) %>
  </div>
  <div class="row">
    <div class="funkyradio funkyradio-info pull-right">
      <%= f.check_box :is_active, :id => 'submit' %>
      <%= f.label :is_active, "فعال؟", :for => "submit" %>
      <%= error_span(@criterion_detail[:is_active]) %>
    </div> 
  </div> 

  <br/>
  <div class="row">
    <%= f.submit "حفظ", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              criterion_criterion_details_path, :class => 'btn btn-default' %>
  </div>
  

<% end %>
