<%- model_class = CriterionDetail -%>
<div class="jumbotron">
    <h2 style="font-family: 'Droid Arabic Kufi';">المقاييس</h2>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>الوصف</th>
      <th>الوزن</th>
      <th>المعيار</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @criterion_details.each do |criterion_detail| %>
      <tr>
        <td><%= link_to criterion_detail.description, criterion_criterion_detail_path(criterion_detail.criterion_id, criterion_detail.id) %></td>
        <td><%= criterion_detail.weight %></td>
        <td><%= criterion_detail.criterion_id %>-<%= Criterion.find(criterion_detail.criterion_id).description %></td>
        <td>
          <%= link_to edit_criterion_criterion_detail_path(@criterion.id, criterion_detail.id),:method => :get do %>
          <i class="fa fa-edit fa-lg"></i>
          <% end %>
          &nbsp;&nbsp;&nbsp;  
          <%= link_to criterion_criterion_detail_path(criterion_detail.criterion_id, criterion_detail.id),
                      :method => :delete, 
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                      <i class="fa fa-trash-o fa-lg"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to new_criterion_criterion_detail_path,
            :class => 'btn btn-info'  do %>
            إضافة مقياس جديد
        <i class="fa fa-plus-circle"></i>
<% end %>  
