              <h4>الميزانية حسب مكونات / عناصر المشروع</h4>  
                <%= simple_form_for([@proposal, Budget.new], :remote => true, :url => add_budget_path(@proposal.id), :html => { :method => :post } ) do |b| %>
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="control-group">
                        النشاط:
                        <div class="controls">
                         <%= b.text_field :project_action, :class => 'form-control', :disabled => @@view_only %>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-4">
                      <div class="control-group">
                        نوع التكلفة:
                      <%= b.select(:cost_type, [["مباشرة", "D"], ["غير مباشرة","I"]], {prompt: "اختر نوع التكلفة"}, :class => 'form-control', :disabled => @@view_only) %>
                      </div>
                    </div> 

                    <div class="col-xs-4">
                      <div class="control-group">    
                        التكلفة التقديرية (بالدولار الأمريكي):
                        <div class="controls">
                          <%= b.text_field :cost, :class => 'form-control', :disabled => @@view_only %>
                        </div>
                      </div>
                    </div>
                  </div>
                    <br/> 
                    <div class="actions">
                      <%= b.hidden_field :proposal_id, value: @proposal.id %>    
                      <%= b.submit "أضف النشاط", :class => 'btn btn-success btn-block', style: "font-family: 'Droid Arabic Kufi'; font-size: 15px", :disabled => @@view_only, :remote => true %> 
                    </div>

    <% end %>

<%= render :partial => 'budgets/index' %> 