<%= simple_form_for([@proposal, GeographicCoverage.new], :remote => true, :url => add_geographic_coverage_path(@proposal.id), :html => { :method => :post } ) do |g| %>
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="control-group">
                      التجمع:
                      <div class="controls">
                      <% @localities=Locality.all.order('province_id desc') %>
                      
                      <%= g.collection_select :locality_id, @localities , :id, :locality_name, {prompt: "اختر التجمع"}, :class => 'form-control', id: "multi-localities", :disabled => @@view_only %>
                    </div>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="control-group">
                      عدد المستفيدين:
                      <%= g.text_field :beneficiaries_number, :class => 'form-control', :disabled => @@view_only, :required => true %>
                      
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="control-group">
                      تصنيف المنطقة (A, B, C, حدودية):
                      <%= g.text_field :classification, :class => 'form-control', :disabled => @@view_only, :required => true %>
                      </div>
                    </div> 
                  </div>
                  <br/>  
                  <div class="actions">
                    <%= g.hidden_field :proposal_id, value: @proposal.id %>    
                    <%= g.submit "أضف التجمع", :class => 'btn btn-success btn-block', style: "font-family: 'Droid Arabic Kufi'; font-size: 15px", :disabled => @@view_only, :remote => true %> 
                  </div>


<% end %>

<%= render :partial => 'geographic_coverages/index' %>