<%- model_class = Proposal -%>

<div class="jumbotron">
    <h2><i class="fa fa-file-text-o"></i> قائمة المقترحات</h2>
</div>

<% 
active_grant_id=Grant.active_grant_id
unless @proposals.blank?  %>
  <div class="wrapper_with_padding" style="text-align: center;">
    <div class="clearfix" id="notes" style="text-align: center;">
        <!-- background: #49afcd; -->
          <% @proposals.each do |proposal| %>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 div-frame" style="margin: 5px;">
              <div class="row">
              <a href="<%= (url_for [proposal]) %>">
              <div >
                <div class="col-md-12" style="height: 200px;">
                    <div class="brand-logo-wrapper">
                      <i class="fa fa-list-alt fa-3x" style="color: #93b874;"></i>
                    </div>
                    <h5 class="brand-title">
                      <%= proposal.project_name %>
                    </h5>
                  <h5 class="intro truncate"><%= proposal.executive_organization %><br /><br />
                    <%= Sector.find(proposal.sector_id).programme unless proposal.sector_id.nil? %><br /><br />
                    <%= proposal.proposal_budget %>&nbsp;<i class="fa fa-usd"></i>
                  </h5>
                </div>
              </div>
            </a>
            <div style="margin-top: 3px; margin-bottom: 3px; text-align: center;">
              <div>   
              <%    unless active_grant_id==-1
                    grant=Grant.find(active_grant_id) 
                    if current_user.is_eval? and grant.evaluation_period? %>
                    <% 
                      @proposal_assessment_summary=ProposalAssessmentSummary.where("proposal_id=? and user_id=?", proposal.id,  current_user.id).first
                      unless (@proposal_assessment_summary.blank?) 
                      if !(@proposal_assessment_summary.is_assessed) %>
                        <%= link_to edit_all_path(proposal.id), class: "btn btn-default", style: "text-align: center;" do %>
                          <i class="fa fa-check-square-o fa-lg"></i> تقييم
                        <% end %>
                      <% else %>
                        <%= link_to edit_all_path(proposal.id), class: "btn btn-default", style: "text-align: center;" do %>
                          <i class="fa fa-info-circle fa-lg"></i> عرض 
                        <% end %>
                      <% end 
                      end %>
                  <% end %>
                  <% if current_user.is_admin? %>
                        <%= link_to assessments_rep_path(proposal.id), class: "btn btn-default", style: "text-align: center;" do %>
                          <i class="fa fa-file"></i> تقرير التقييم
                        <% end %>
                        <% end %>
                  <% end %>
            </div>
            </div>
            </div>
            </div>
          <% end %> 

      </div>
  </div>

  <div style="text-align: center;">
      <%= will_paginate @proposals, renderer: BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>
  </div>
<% else %>
  <p class="error_explanation">لا توجد مقترحات</p>
<% end %> 
