<%- model_class = Proposal -%>
<%    
active_grant_id=Grant.active_grant_id
unless active_grant_id==-1
  grant=Grant.find(active_grant_id)
  show=(current_user.can_select? and !(grant.is_selection_done?))
else
  show=false
end
%>
<div class="jumbotron">
    <h2><span class="fa fa-list-ol"></span> تقرير المقترحات مرتبة حسب علامة التقييم</h2>
</div>
<%= form_for :grant_sector, :url => select_winners_path, :html => { :method => :put } do %>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th>اسم المشروع</th>
        <th>المؤسسة المنفذة</th>
        <th>القطاع</th>
        <th>الهدف التنموي</th>
        <th>الميزانية</th>
        <th>علامة التقييم</th>
      </tr>
    </thead>
    <tbody>
      <% @assessed_proposals.each do |proposal| %>
        <%= fields_for "proposal[]", proposal do |proposal_fields| %>
        <tr>
            <td>
            <% if show %>
              <%= proposal_fields.check_box :is_selected %>
            <% end %>    
            </td>
            <td><%= link_to proposal.project_name, proposal_path(proposal) %></td>
            <td><%= proposal.executive_organization %></td>
            <td><%= Sector.find(proposal.sector_id).programme unless proposal.sector_id.nil? %></td>
            <td><%= DevelopmentGoal.find(proposal.development_goal_id).description unless proposal.sector_id.nil? %></td>
            <td><%= proposal.proposal_budget %></td>
            <td><%= proposal.average_mark %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% if show %>
    <div class="actions">
      <%= submit_tag "حفظ التعديلات", class: 'btn btn-info' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              proposals_path, :class => 'btn btn-default' %>
    </div>
  <% end %>
<% end %>
