<p id="notice"><%= notice %></p>

<h1>Listing Fund Sources</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fund_sources.each do |fund_source| %>
      <tr>
        <td><%= fund_source.description %></td>
        <td><%= fund_source.is_active %></td>
        <td><%= link_to 'Show', fund_source %></td>
        <td><%= link_to 'Edit', edit_fund_source_path(fund_source) %></td>
        <td><%= link_to 'Destroy', fund_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fund source', new_fund_source_path %>
