<hr>              

<% @geographic_coverages=GeographicCoverage.where("proposal_id=?", @proposal.id)
   if @geographic_coverages.count>0
 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>التجمع</th>
      <th>عدد المستفيدبن</th>
      <th>عدد السكان</th>
      <th>تصنيف المنطقة</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geographic_coverages.each do |geographic_coverage| %>
      <tr>
        <td><%= Locality.find(geographic_coverage.locality_id).locality_name %></td>
        <td><%= geographic_coverage.beneficiaries_number %></td>
        <td><%= Locality.find(geographic_coverage.locality_id).population %></td>
        <td><%= geographic_coverage.classification %></td>
        <td>
          <% if current_user.user_type=='U' and !(@@view_only) %>
            <%= link_to proposal_geographic_coverage_path(@proposal.id, geographic_coverage.id),
                      :class => "trash",
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :remote => true do %> 
                        <i style="opacity: 0.4;" class="fa fa-trash-o fa-lg"></i> 
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<hr>  