<%- model_class = User -%>
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-7">
      <h2><span class="fa fa-users"></span> قائمة المستخدمين</h2>
    </div>
    <div class="col-sm-5">
      <%= link_to admin_new_user_path,
                  :class => 'btn btn-info pull-left', :style => "font-family: 'Droid Arabic Kufi'; font-size: 13px; margin-top: 17px;     margin-left: 6px;"  do %>
                  إضافة مستخدم جديد
              <i class="fa fa-user-plus fa-lg" ></i> 
      <% end %> 
    </div>
</div>
</div>
<hr>
<% unless @users.blank? %>
    <div class="clearfix" id="notes" style="text-align: center;">
        <!-- background: #49afcd; -->
          <% @users.each do |user| %>
            <a href="<%= admin_edit_user_path(user.id) %>">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 div-frame" style="margin: 5px;">
                <div class="col-md-12">
                  <div class="row">
                    <div class="brand-logo-wrapper">
                      <div class="col-md-4">
                      <div class="circle-image"><i class="fa fa-user fa-3x" style="color: #E6B85C;"></i></div>
                    </div>
                      <div class="col-md-8 pull-right">
                      <h5 class="brand-title">
                      <%= user.user_name %> <%= user.user_type_desc %>
                    </h5>
                    
                  </div>
                      
                    </div>
                  </div>  

                  <p class="intro truncate">البريد الإلكتروني:<br><%= user.email %><br>
                  تاريخ ووقت آخر دخول:<br><%= local_date(user.current_sign_in_at, '%B %e, %Y at %H:%M') unless user.last_sign_in_at.blank? %><br>
                  عدد مرات الدخول: <%= user.sign_in_count %><br>
                  </p>
                </div>
            </div>
          </a>  
          <% end %> 

      </div>
  </div>
<% end %>