<!DOCTYPE html>
<html lang="ar" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Proposal Evaluation System-IDB" %></title>
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/kacstoffice" type="text/css"/>
        <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>  
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>   
        <%= csrf_meta_tags %>
    </head>
    <body class="hold-transition skin-blue sidebar-mini fixed" >    
        <% if user_signed_in? %>
            <%= render :partial => 'layouts/app' %> 
        <% else %>  
            <%= render :partial => 'layouts/public' %> 
        <% end %>
        <footer class="footer" style="direction: ltr; text-align: center;" >
         <hr class="divider">
         <div class="pull-right hidden-xs">
              <small> Version 1.0.0</small> 
         </div>
         <strong>Copyright &copy; <%= Date.current.year %> <a href="http://www.isdb.org">Islamic Development Bank</a>.</strong> All rights reserved.
        </footer>
    </body>
</html>