<%= simple_form_for(@assessment_criterion_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :mark %>
    <%= f.input :criterion_detail_id %>
    <%= f.input :assessment_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
