<%= form_for @assessment, :html => { :class => "form-horizontal assessment" } do |f| %>

    <% if @assessment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @assessment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :mark, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mark, :class => 'form-control' %>
    </div>
    <%= error_span(@assessment[:mark]) %>
  </div>
  <div class="control-group">
    <%= f.label :grant_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :grant_id, :class => 'form-control' %>
    </div>
    <%= error_span(@assessment[:grant_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :applicant_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :applicant_id, :class => 'form-control' %>
    </div>
    <%= error_span(@assessment[:applicant_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category_id, :class => 'form-control' %>
    </div>
    <%= error_span(@assessment[:category_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :criterion_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :criterion_id, :class => 'form-control' %>
    </div>
    <%= error_span(@assessment[:criterion_id]) %>
  </div>



  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            assessments_path, :class => 'btn btn-default' %>

<% end %>
