<%= simple_form_for @grant, :html => { :class => "form-horizontal grant" } do |f| %>
    <% if @grant.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">خطأ:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @grant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :description, :label => "وصف المنحة", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@grant[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :budget, :label => "الميزانية", :class => 'control-label' %>
    <div class="input-group">
      <%= f.text_field :budget, :type => :number, :class => 'form-control' %>
      <span class="input-group-addon"><i class="fa fa-usd"></i></span>
    </div>
    <%= error_span(@grant[:budget]) %>
  </div>
<div class="row">
  <div class="col-md-6">
  <div class="control-group">
    <%= f.label :starting_at, :label => "بدء موعد تقديم المقترحات", :class => 'control-label' %>
    <div class="input-group">
      <%= f.text_field :starting_at, :class => 'form-control datepicker input-small', "data-behaviour" => 'datepicker', :type => 'text' %>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
    <%= error_span(@grant[:starting_at]) %>
  </div>
</div>
<div class="col-md-6">
  <div class="control-group">
    <%= f.label :closing_at, :label => "آخر موعد تقديم المقترحات", :class => 'control-label' %>
    <div class="input-group">
      <%= f.text_field :closing_at, :class => 'form-control datepicker input-small', "data-behaviour" => 'datepicker', :type => 'text' %>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
    <%= error_span(@grant[:closing_at]) %>
  </div>
</div>
</div>
<% if @grant.persisted? %>
  <div class="row">
    <div class="col-md-6">
    <div class="funkyradio funkyradio-info">
      <%= f.check_box :is_active, :id => 'enable_submit' %>
      <%= f.label :is_active, "المنحة فعالة؟", :for => "enable_submit" %>
      <%= error_span(@grant[:is_active]) %>
    </div> 
    </div>
  </div>
  <% end %>
<br/>
<%= f.submit nil, value: "حفظ", :class => 'btn btn-info' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            grants_path, :class => 'btn btn-default' %>

<% end %>