<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @fund_source.description %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @fund_source.is_active %>
</p>

<%= link_to 'Edit', edit_fund_source_path(@fund_source) %> |
<%= link_to 'Back', fund_sources_path %>
