<% current_user_type = current_user.user_type %>        
<!-- header logo: style can be found in header.less -->
        <header class="header" >
            <!-- Logo -->
            <a href="/" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><i class="fa fa-home fa-lg"></i></span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><b>نظام</b> تقييم المقترحات</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
              <nav class="navbar navbar-static-top" role="navigation" style="width: 100%;">
                <% if current_user.is_admin? %>
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <% end %>

                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <% if current_user.is_app? %>
                        <% 
                        @current_proposal=Proposal.where("user_id=?", current_user.id).first 
                        if @current_proposal 
                        %>
                           <li ><%= link_to 'عرض المقترح', proposal_path(@current_proposal.id), :style => 'color: white;' %>
                           </li>
                        <% else %>
                           <li>
                             <%= link_to('مقترح جديد', add_proposal_path(current_user.id), :method => 'post', :style => 'color: white;')  %>
                           </li>
                        <% end
                        end %>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <% if current_user.is_eval? %>
                            <%  i=0
                                proposals=Proposal.where("proposals.id in (select proposal_assessment_summaries.proposal_id from proposal_assessment_summaries where user_id=? and (is_assessed is null or  is_assessed=false))",current_user.id) 
                                i=proposals.size unless proposals.blank?
                            %>
                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown tasks-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                                    <i class="fa fa-tasks fa-lg"></i>
                                    <span class="label label-notice"><%= i unless i==0%></span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li class="header">لديك <%= i %> مقترح جديد</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <% proposals.each do |proposal| %>
                                            <li class="user-body" ><!-- start message -->
                                                <a href="<%= proposal_path(proposal) %>">
                                                    <div class="pull-right" >&nbsp;
                                                        <%= proposal.project_name %>
                                                    </div>
                                                    <br>
                                                    <p>&nbsp;&nbsp;<%= proposal.executive_organization %></p>
                                                        <small><i class="fa fa-clock-o"></i><%= proposal.created_at %></small>
                                                </a>
                                            </li><!-- end message -->
                                            <% end %>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="/proposals">عرض كافة المقترحات</a></li>
                                </ul>
                            </li>    
                        <% end %>
                        <% if current_user.id==1 %>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning fa-lg"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> 5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <% end %>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user fa-lg"></i>
                                <span style="color: #ffffff;">المستخدم&nbsp;&nbsp;<%= current_user.user_name %>&nbsp;
                                <i class="fa fa-chevron-circle-down"></i></span>
                            </a>
                          <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                              <i class="fa fa-user fa-3x"></i>
                              <p>
                                <%= current_user.user_name %> - <%= current_user.user_type_desc %>
                                <small>Member since <%= local_date(Date.current, '%B. %Y') %></small>
                              </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                              <h5>
                                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;تاريخ آخر دخول</p>
                                  <small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-clock-o"></i>&nbsp;<%= local_date(current_user.last_sign_in_at, '%B %e, %Y at %H:%M:%S') %>        
                                  </small>
                              </h5>
                              <h5>
                                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;عدد مرات الدخول</p>
                                  <small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sign-in"></i>&nbsp;<%= current_user.sign_in_count %></small>
                              </h5>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                              <div class="pull-right">
                                <%= link_to edit_user_registration_path(current_user.id), :style => "font-size: 13px;", :class => "btn btn-success btn-flat" do %>
                                    <i class="fa fa-user fa-lg"></i> ملف المستخدم
                                <% end %>
                              </div>
                              <div class="pull-left">
                                <%= link_to destroy_user_session_path, :method => 'delete',  :style => "font-size: 13px;", :class => "btn btn-danger btn-flat" do %>
                                    <i class="fa fa-sign-out fa-lg"></i> تسجيل خروج
                                <% end %>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                            <a href="#" style="color: white;"> <%= local_date(Date.current, '%B %e, %Y') %> </a>
                        </li> 
                    </ul>
                </div>
            </nav>
        </header>