<hr>
<%= action_name %>
<% if action_name=='new' or action_name=='edit' %>
 <h4 class="trash">ملاحظة: مجموع النسب يجب أن لا يتجاوز 100</h4>
<% end %> 
<%  
   sum=0 
   @funds=Fund.where("proposal_id=?", @proposal.id)
   if @funds.count>0
 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>مصدر التمويل</th>
      <th>النسبة (٪)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funds.each do |fund| %>
    <% sum=sum+fund.percentage %>
      <tr>
        <td><%= FundSource.find(fund.fund_source_id).description %></td>
        <td><%= fund.percentage %></td>
        <td>
          <% if current_user.user_type=='U' and !(@@view_only) %>
            <%= link_to proposal_fund_path(@proposal.id, fund.id),
                      :class => "trash",
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :remote => true do %> 
                        <i style="opacity: 0.4;" class="fa fa-trash-o fa-lg"></i> 
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td style="text-align: left;">
          المجموع: 
        </td>   
        <td>
          %<%= sum %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<hr>