<%- model_class = Locality -%>
<div class="jumbotron">
    <h2 style="font-family: 'Droid Arabic Kufi';">قائمة التجمعات السكانية</h2>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>اسم التجمع</th>
      <th>عدد السكان</th>
      <th>المحافظة</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @localities.each do |locality| %>
      <tr>
        <td><%= link_to locality.locality_name, locality_path(locality) %></td>
        <td><%= locality.population %></td>
        <td><%= locality.province_name %></td>
        <td>
          <%= link_to edit_locality_path(locality) do %>
          <i class="fa fa-edit fa-lg"></i>
          <% end %>
          &nbsp;&nbsp;&nbsp;  
          <%= link_to locality_path(locality),
                      :class => 'trash',
                      :method => :delete, 
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                      <i class="fa fa-trash-o fa-lg"></i>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div style="text-align: center;">
<%= will_paginate @localities, renderer: BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>
</div>