<%- model_class = Grant -%>
<div class="jumbotron">
    <h2><i class="fa fa-university"></i> المنح</h2>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>الوصف</th>
      <th>الميزانية</th>
      <th>تاريخ بدء تقديم المقترحات</th>
      <th>تاريخ انتهاء تقديم المقترحات</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @grants.each do |grant| %>
      <tr>

        <td><%= link_to grant.id, grant_path(grant) %></td>
        <td><%= grant.description %></td>
        <td><%= grant.budget %></td>
        <td><%= grant.starting_at %></td>
        <td><%= grant.closing_at %></td>
        <td>
          <%= link_to edit_grant_path(grant) do %>
          <i class="fa fa-edit fa-lg"></i>
          <% end %>
          &nbsp;&nbsp;&nbsp; 
          <% props=Proposal.where("grant_id=?", grant.id)
             props_size=props.size
          if (props_size==0)
          %> 

          <%= link_to grant_path(grant),
                      :class => 'trash',
                      :method => :delete, 
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                      <i class="fa fa-trash-o fa-lg"></i>
          <% end %>
          <% end %>
        </td>

        <td>
          <% if !(grant.closed?) and (grant.evaluation_period?) and grant.is_active and (props_size!=0)%>
            <%= link_to close_grant_path(grant),
              :class => 'btn btn-danger btn-xs',
              method: :patch, 
              :data => { :confirm => t('.confirmgrantdel', :default => t("helpers.links.confirmgrantdel", :default => 'Are you sure?')) } do %>
              <i class="fa fa-chain-broken fa-lg"></i> إغلاق ملف التقييم 
            <% end %>
          <% else %>
            <% if current_user.is_admin? and grant.closed? %>
              <%= link_to reset_grant_path(grant.id),
                      :class => 'text-danger',
                      :method => :patch, 
                      :data => { :confirm => t('.confirmgrantreset', :default => t("helpers.links.confirmgrantreset", :default => 'Are you sure?')) } do %>
                      <i class="fa fa-undo fa-lg"></i>
              <% end %><% end %>
          <% end %>
        </td>


      </tr>
    <% end %>
  </tbody>
</table

<br>     

<%= link_to new_grant_path,
            :class => 'btn btn-info'  do %>
            تعريف منحة جديدة
        <i class="fa fa-plus-circle fa-lg"></i>
<% end %>        
